/* body {
  background-image: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/squares.png)
} */
body {
  background-color: #32a14f;
}

.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #00bbf7;
  }

.off {
  background-color: #cff1fc;
}

.on {
  background-color: green;
}

.box:hover {
  background: #00CCFF;
}
.buttons_bar {
  border: 5px solid #fff12e;
  display: flex;
  justify-content: center;
}
.main-game {
  display: flex;
  justify-content: center;
}
.centerInfo {
  margin: auto;
  display: table;
  margin-top: 10px;
  border: 5px solid #fff12e;
  box-shadow: 0px 0px 20px white;
}
.game_and_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 5px solid #fff12e;
  box-shadow: 0px 0px 20px white;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px #fff12e;
  margin-top: 20px;

}

h1, h2, h3, h4 {
  color: white;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
